[2016-03-23 04:27] acorncom opened #1 "Setup sorting on ratings"
We'll need to work out how to produce ratings (a rough gauge of how hard an item would be to do) before this can be done.  Would love feedback or ideas on how to produce that data (my current thought was to have an approximate number based on which repo the issue is for, but that's pretty rough)

[2016-03-23 04:31] acorncom opened #2 "Setup filtering on categories"
preferably with a dropdown in place of the "Category" header, allowing choosing only one category instead of all of them.

Might be worth setting up a "table" component to help with this (and with #1 ).  Consider https://github.com/offirgolan/ember-light-table or possibly http://opensource.addepar.com/ember-table/#/overview  Would probably lean toward the former as it's in a newer, Ember 2.x style

[2016-03-23 04:32] acorncom opened #3 "Improve ratings display to make it nicer somehow?"
Stars or potentially something else slightly cutesy

[2016-03-23 04:32] acorncom opened #4 "Discuss having this live somewhere where it's more "blessed" by Ember core"

[2016-03-23 04:33] acorncom opened #5 "Move data storage to Firebase"
The current `workingOn` should end up pulling from `/issues/<issueId>/appPayload` whereas all other data will be pulled from `/issues/<issueId>/githubPayload`

[2016-03-23 04:34] acorncom opened #6 "Clean up tests"
I just hacked this together quickly to see if it would work

[2016-03-25 20:42] acorncom opened #7 "Getting this tool to MVP status"
For this to be a MVP, I think there are a few things remaining that need to be addressed:
- [x] set up a system to receive the webhook notifications (would envision this being a Heroku app in the interests of keeping things cheap / free)
- [x] [setup web hook](https://github.com/ember-learn/ember-help-wanted-webhook/issues/1) - handling issues based on a few tags for the repos we follow (see below

[2016-03-25 20:43] acorncom commented on #5
See thoughts about using Firebase here: #7

[2016-04-02 00:43] acorncom commented on #7
Per discussions with folks at EmberConf, we might setup either a nightly job to check the various repos or web hooks to notify this tool of various new issues that get sent in.

[2016-04-22 23:10] #4 closed

[2016-04-22 23:19] acorncom opened #8 "Setup issue webhook to handle issue notifications from the various repos"
This issue is part of our #7 MVP roll-up issue.

I believe we'll want to have an active web hook listening for this payload:
https://developer.github.com/v3/activity/events/types/#issuesevent

Based on that information, we would need to confirm that we're actively tracking this repository and then update the appropriate issue tags in Firebase.

We'll want to handle the following cases:

- closed
-

[2016-05-06 17:14] sivakumar-kailasam opened #10 "[FEATURE] Claim an issue"
- Allow someone to claim an issue for a week
- Reset that if it wasn't resolved (or didn't have a PR pending, haven't worked through those details yet)

[2016-05-09 15:48] #8 closed

[2016-05-09 15:48] acorncom commented on #8
Closing in favor of https://github.com/ember-learn/ember-help-wanted-webhook/issues/1

[2016-05-09 17:39] acorncom commented on #10
Per discussions with @sivakumar-kailasam we're thinking we'll have this info stored at the following location:

`/issues/<issue_id>/appData/contributors`

The contributors hash would be an array with the following setup:

[code]

This gives folks the ability to say they want to work on an issue but also allows multiple people to work on it together (and to coordinate how to contact each other as w

[2016-05-09 23:15] acorncom commented on #5
We'll also want all tests passing

[2016-05-09 23:18] acorncom opened #12 "Enforce Firebase security constraints"
We need to setup Firebase to enforce security so that non-authenticated users are only able to change the `/issues/<issueId>/appPayload/workingOn` key.  We'll then allow authenticated users (via Github long-term) to update other `appPayload` values with an admin panel in the future ...

[2016-05-09 23:21] acorncom opened #13 "Setup ember suave add-on"
And fix anything it says is broken

[2016-05-09 23:27] acorncom opened #14 "Build a code snippet to pull from our backend to show items on the Ember Contributing page"
I'm aiming to put a small table of info on the Community page (http://emberjs.com/community/) to replace the text under the header "In a Giving Mood?".  Should be a fairly simple Ajax call on the website ...

[2016-05-09 23:28] acorncom commented on #5
As part of this, we'll need to produce the proper URLs to link to for each repo, as we're going to build that ourselves instead of using the `html_url` (and equivalent) data that Github sends in web hooks.  Doing that keeps us safer from XSS attacks (and potential water-hole attacks against folks using this tool)

[2016-05-09 23:31] acorncom commented on #2
It would also be nice to be using `queryParams` for this so that these pages can be shared between folks

[2016-05-09 23:31] acorncom opened #15 "Setup sorting on various columns"
using `queryParams` as well

[2016-05-09 23:32] acorncom commented on #3
Depends on #1

[2016-05-09 23:39] acorncom opened #16 "Setup the ability for people to login and create 'saved lists' of issues"
To be shared at workshops or meetups.  Doing this would help meetup organizers (and code-school teachers?) run open source nights where items that are currently needed can be hit.

- [ ] work out UI / messaging around this to make it unobtrusive but easy to find for folks looking for it
- [ ] setup authentication on the Firebase end
- [ ] work through data structures for this (current thought is t

[2016-05-09 23:42] acorncom opened #17 "Improve look and feel of the app"
And make it fit better with the overall Ember site?

[2016-05-09 23:45] acorncom commented on #17
Possible Tomster options (that we'll need to run by Leah first):

- Built with (http://emberjs.com/images/tomsters/builtwith.png)
- Code work (http://emberjs.com/images/tomsters/construction.png)

[2016-05-09 23:46] acorncom opened #18 "Publicize this app once we're ready for it"
- [ ] Ember.JS Times
- [ ] EmberWeekly
- [ ] Ask Tom, other prominent Ember folks to tweet about it

[2016-05-12 02:41] #5 closed

[2016-05-12 02:41] acorncom opened #22 "Write some real acceptance tests"

[2016-05-12 04:07] acorncom commented on #13
Fixed by #20

[2016-05-12 04:07] #13 closed

[2016-05-12 04:09] #6 closed

[2016-05-12 04:09] acorncom commented on #6
Fixed

[2016-05-12 14:59] lizzerdrix commented on #22
Do you have anything in mind for the kinds of tests you'd like to see? I notice there don't appear to be any at the moment, but just thought I'd check before I start writing anything 😛

[2016-05-13 21:10] acorncom commented on #22
As I think about it, writing any acceptance tests right now is likely to be a major pain, due to EmberFire's lack of test support :-/  We're considering changing out the backend to something that would handle querying better, so it may be best to just wait on this temporarily ...  Thanks though!

[2016-05-18 18:10] sivakumar-kailasam opened #24 "Capturing contributors information"
This app doesn't need end users(a.k.a contributors) to ever signup with their credentials(or SSO). But for folks to claim issues and for us to track if an issue was ever closed due to contribution from that user, we'd need their github handle.

When multiple folks work on a single issue they might want to coordinate over slack/twitter or other channels. This leads to some questions like,
- How do

[2016-09-23 18:02] acorncom commented on #12
Now that we've decided to not use Firebase, will close this

[2016-09-23 18:02] #12 closed

[2016-10-06 17:31] acorncom commented on #10
Since the notes were made above, our backend approach has changed.  We'll be using a JSON-API compliant backend, so should focus primarily on sending contributor information back to the backend as we add new ones.

[2016-10-31 00:43] acorncom opened #65 "Work out user authentication piece"
This helps finish off #16

I think it'd be good to copy what Ember Twiddle is doing as much as possible (in the long run we might end up doing a shared add-on or something to make Github auth easier across all EmberJs.com "apps").

Things of interest that seem applicable to what we want to do:
- use Torii (https://github.com/Vestorly/torii)
- setup a torii adapter (https://github.com/ember-cli/emb

[2016-10-31 00:43] acorncom commented on #65
@sivakumar-kailasam Thoughts on the scope questions above?

[2016-10-31 04:06] sivakumar-kailasam commented on #65
@acorncom I'd like to ask for `user:email` but let users opt out of receiving notifications from within the app. Would help in the long run for these if they ever take shape - surveys, leaderboard updates, new workshop mailers. Thoughts?

[2016-10-31 16:39] acorncom commented on #65
@sivakumar-kailasam seems like those types of features could be nice, but is that possibility worth the "why do they need my email address o_0?" question as we ask folks to login?  Theoretically we might be looking at 50-70% of the users of the tool logging in (probably more organizers than day-to-day users) ...

[2016-10-31 16:49] sivakumar-kailasam commented on #65
Sure, I've seen services notifying users reasons for changing the required scope as they introduced new features. So I guess we can always do that.

[2017-07-06 17:55] #15 closed

[2017-07-21 00:54] villander commented on #22
@acorncom And the acceptance tests with mirage? They are very real. Can I write acceptance tests with mirage?

[2017-08-28 18:21] aureliosaraiva opened #69 "Status?"
@acorncom what is status this project? Active? Cancelled?

[2017-08-29 14:41] sivakumar-kailasam commented on #69
@aureliosaraiva This project is in its very early stages and we unfortunately haven't added all the details about conversations(in the learning team meetings which are publicly documented) in this repo.

We hope to give this project the attention it needs soon :) If you're interested in contributing to ember projects, please feel free to checkout the 'help wanted' labels on some of the other repos

[2017-09-03 01:00] acorncom commented on #69
@aureliosaraiva Another way of putting Siva's comments would be: it's inactive due to lack of folks to help push it along, we'd still love to see it done 😀 If you've got the time and interest, would love to discuss what is still blocking us on this to push it along.  Let me know!

[2017-12-11 04:25] acorncom commented on #22
@villander Yes, we'd love to see acceptance tests written with Mirage, it's part of the reason we shifted from using EmberFire! 😀

[2018-08-18 03:33] acorncom commented on #69
Going to close this for now, as @hakilebara is starting to think about things here further. @aureliosaraiva if you're interested in pitching in, would love to get your help too. We're collaborating on what we intend to do on this in Slack at `#st-help-wanted-board` or can discuss things on Github too ...

[2018-08-18 03:33] #69 closed

[2018-08-31 19:11] MelSumner opened #74 "Include RFCs projects"
If possible, add https://github.com/emberjs/rfcs/projects/1 to indicate work that a community member could help with.

[2018-09-08 22:33] ppcano commented on #22
@hakilebara If none has taken this issue, I can write the acceptance tests.

[2018-09-11 04:59] ppcano commented on #17
I will look at this issue and use the [ember-styleguide UI addon](https://github.com/ember-learn/ember-styleguide)

[2018-10-05 13:49] EndangeredMassa commented on #74
Done to a certain degree: https://ember-help-wanted.netlify.com/rfcs

[2018-10-05 13:50] EndangeredMassa commented on #65
Is the current auth situation acceptable? No users have to auth and no repos have to do any special setup.

[2018-10-05 14:04] EndangeredMassa opened #84 "Clarify Help Wanted with RFCs"
Right now, the app pulls Needs Champion and Final Comment Period labeled issues. We probably want to include other labels and pull requests, but it's not clear what the best approach is here.

Talk to core team members about what Help Wanted regarding RFCs should really target, then make those changes.

[2018-10-05 14:06] EndangeredMassa opened #85 "Label display is flakey when switching views"
When you load the app, labels display properly next to issues. When you navigate to another category, some labels will not be rendered at all.

It's not clear why this happens. Look into the relationship between issues and labels as API resources.

---

API Documentation: https://developer.github.com/v3/

[2018-10-05 15:39] sivakumar-kailasam commented on #65
Yes it is

[2018-10-05 15:39] #65 closed

[2018-10-06 04:39] EndangeredMassa opened #88 "Make Navigation Responsive"
The app is currently unusable on a mobile screen size. At the very least, the navigation tabs should flow down the screen. If we're feeling fancy, we can add a hamburger menu.

---

![image](https://user-images.githubusercontent.com/41545/46567349-58f92380-c8f7-11e8-8153-590a7ab661bc.png)

[2018-10-06 04:44] ezebecke commented on #88
I will work on the hamburger menu!

[2018-10-06 07:18] sivakumar-kailasam commented on #88
@ezebecke you might want to consider using https://github.com/offirgolan/ember-burger-menu

[2018-10-06 12:37] prasannavijayan commented on #85
I will work on this issue..

[2018-10-06 17:02] EndangeredMassa commented on #85
@prasannavijayan Sure thing!

There are a couple of things to consider:

1. There is a relationship between `github-issue` and `github-label` that you can see defined in those models. This was set up because the front-end used to be hitting github directly, which made this modelling mostly "just work" for the github response format. Now, however, the front-end hits a thin cache back-end instead. W

[2018-10-09 20:08] jbryson3 opened #91 "CORS errors on site - no issues are shown"
https://ember-help-wanted.netlify.com/core

```Failed to load https://ember-help-wanted-server.herokuapp.com/github-issues?group=core: The 'Access-Control-Allow-Origin' header has a value 'https://help-wanted.emberjs.com' that is not equal to the supplied origin. Origin 'https://ember-help-wanted.netlify.com' is therefore not allowed access.```

![image](https://user-images.githubusercontent.com/6

[2018-10-10 00:28] sivakumar-kailasam commented on #91
@jbryson3 we've configured https://help-wanted.emberjs.com to be the domain for this app.

If there's any doc that you referenced where we have forgot to update this info, do let us know.

[2018-10-10 00:28] #91 closed

[2018-10-11 07:49] #85 closed

[2018-10-12 16:34] EndangeredMassa opened #93 "Project Linkes are Missing"
A recent deploy seems to have removed the project links from the issue tables.

Add a test for this and fix it.

---

Example:

![example](https://user-images.githubusercontent.com/41545/46881955-b3701380-ce12-11e8-9c89-b6a43067ba95.PNG)

[2018-10-12 16:46] Ricool06 commented on #93
Hey @EndangeredMassa, mind if I get assigned to this? Full disclosure, I've not used ember before but this might be a good start for me.

[2018-10-12 18:32] Ricool06 commented on #93
Fixed this, making a pull request in a sec. :+1:

[2018-10-14 05:55] EndangeredMassa commented on #93
Thanks @Ricool06!

[2018-10-14 05:55] #93 closed

[2018-10-14 05:57] EndangeredMassa commented on #88
resolved by https://github.com/ember-learn/ember-help-wanted/pull/96

[2018-10-14 05:57] #88 closed

[2018-11-10 16:59] BradenLawrence opened #101 "Fix overlapping elements in mobile view"
I'd like to help out on this issue:

**Problem:** The Project name and Title become overlapped when viewed on mobile resolutions.
![ember-help-wanted_mobile](https://user-images.githubusercontent.com/17574170/48303664-d73e7c00-e4da-11e8-9768-37e7c12edd93.png)

**To do:** Update the CSS layout to stack the Project name underneath the Title at mobile resolutions.

**Future considerations:** The "Pro

[2018-11-11 18:12] BradenLawrence commented on #101
I had a look at how the list is put together, and after seeing that it's arranged using a table, I think it's best for now to keep the Project Name on top of the Title at mobile sizes. There are ways to do this using CSS, but it's a bit dirty and breaks the table management structure.

If we would like to do this in the future, we would have to restructure the list using divs/flexbox/etc.

[2018-11-17 16:16] jenweber opened #104 "Improve home page"
Currently, the "home" page of this app invites people to click on a nav bar item.

- [ ] add content section: "how to get started contributing to Ember" content, similar to what is in CONTRIBUTING.md guides.
- [ ] add easily clickable graphics to go to the primary repos/labels
- [ ] add an h1 element: `<h1>Help Wanted</h1>` at the top of the page, between the navbar and the search box (should be i

[2018-11-18 03:32] EndangeredMassa commented on #104
That sounds great to me!

[2018-11-21 15:29] MelSumner opened #105 "Add "DecEmber" label filter"
Requesting a filter to identify the DecEmber label for the December 2018 Hackathon, so we can better track how many issues we have created and get an accurate count, and so users can look for DecEmber-specific issues during the hackathon.

[2018-11-27 19:38] #105 closed

[2018-11-27 19:50] MelSumner commented on #18
@acorncom I think we're ready, especially since we want folks to use this to find DecEmber issues.

[2018-11-28 14:35] MelSumner commented on #101
Thank you for fixing this!

[2018-11-28 14:35] #101 closed

[2018-11-28 14:37] MelSumner opened #106 "Improve navbar"
In a mobile-first way, update the CSS for the navbar so it works appropriately on mobile devices.

[2018-11-29 03:43] prasannavijayan commented on #106
I'll work on this issue.

[2018-11-29 10:37] mansona commented on #106
I assume we're intendeing to use the Ember-Styleguide for this project @MelSumner?

[2018-11-29 20:52] MelSumner opened #107 "Add Issue Count"
It would be super useful to know how many issues are currently displayed in the view, especially if I am filtering by a label within a project.

## What it looks like now
![image](https://user-images.githubusercontent.com/4587451/49251149-63f79e00-f3e6-11e8-91f6-9a024880b608.png)

## What it could look like
![image](https://user-images.githubusercontent.com/4587451/49251127-54785500-f3e6-11e8-921f

[2018-11-29 20:56] MelSumner opened #108 "Fix logo in navbar"
## Issue Description
The current logo is not in line with the Ember branding guidelines.

## To fix:
Replace navbar in app with the navbar from [ember-styleguide](https://github.com/ember-learn/ember-styleguide).

[2018-11-29 20:57] MelSumner commented on #24
We could look at 24 Pull Requests and see how they have it set up, just for ideas.

[2018-11-30 22:08] esbanarango commented on #107
@MelSumner I'll work on this one ☝️

[2018-12-01 06:01] prasannavijayan commented on #106
@MelSumner @mansona Please do let me know if I wanted to update this according to ember styleguide, I will do it. For time being I've fixed with mobile menu addon.

[2018-12-01 06:04] prasannavijayan commented on #108
I'll work on this.

[2018-12-01 21:31] ppcano commented on #22
@MelSumner I think #77 should have closed this issue.

[2018-12-04 21:51] #107 closed

[2018-12-04 21:52] MelSumner commented on #106
:+1:

[2018-12-04 21:52] #106 closed

[2018-12-04 21:58] MelSumner opened #112 "Ensure that issues are displaying properly when filtered by label"
Currently, not all repos/labels are showing up when filtered.

If you compare the issues that show up here: https://help-wanted.emberjs.com/learning?label=DecEmber you can see that according to the [issue filter code](https://github.com/ember-learn/ember-help-wanted-server/blob/master/src/issue-filter.js) more repos should be appearing in the list.

(Note: this might be an issue for [ember-help-wa

[2018-12-06 17:37] prasannavijayan commented on #104
I'll work on this issue.

[2018-12-06 18:09] #108 closed

[2018-12-07 03:49] prasannavijayan commented on #104
@MelSumner @EndangeredMassa I just tried out a rough design with the checklist to be done. Please review and let me know if this is fine or we need to alter something.
![macbook pro](https://user-images.githubusercontent.com/3090884/49626698-1b04a280-fa01-11e8-8fe9-0a25e5a1f763.png)

[2019-01-26 15:38] MelSumner commented on #104
Thank you for resolving this issue, @prasannavijayan 💯

[2019-01-26 15:38] #104 closed

[2019-01-26 17:43] prasannavijayan commented on #112
I am working on this issue.
Hi @MelSumner,

I was checking this issue and found that learning category filters issues only these repository mentioned below,
[code]
I think we need to more repo which is in this category eg: `ember-api-docs`, `ember-website` and `ember-help-wanted`.

By adding these repo the issues will be filtered accordingly and will display in respective issues route.

your thoug

[2019-01-26 18:15] MelSumner commented on #112
sounds good! let's try it and see if it helps.

[2019-01-26 20:54] MelSumner opened #121 "help wanted app should use same navbar as emberjs.com"
Since the help-wanted app has been integrated into the emberjs.com website, it should use the same navbar as the rest of the emberjs.com website.

Todo:
- [ ] use the same navbar as emberjs.com.
- [ ] add the filter buttons above the page title (attach the es-button class):
![image](https://user-images.githubusercontent.com/4587451/51792652-054a6880-217a-11e9-8bf5-4631a87bd697.png)

Any PRs to add

[2019-01-28 06:44] prasannavijayan commented on #121
I'll take this one.

[2019-02-05 15:02] MelSumner commented on #112
👍 fixed with PR #122

[2019-02-05 15:02] #112 closed

[2019-02-10 04:38] MelSumner commented on #121
Thank you for resolving this issue! :+1:

[2019-02-10 04:38] #121 closed

[2019-02-10 18:20] MelSumner opened #124 "Navbar links aren't displaying on help wanted"
A previous PR made the correct edit of changing the filters out of the navbar and putting them in buttons. However, the navbar content that is displayed on the rest of the ember.js website isn't displaying properly on the help-wanted app.

Screenshot:
![image](https://user-images.githubusercontent.com/4587451/52537606-2c826780-2d2e-11e9-93fa-035315c0fe3c.png)

[2019-02-10 18:21] MelSumner opened #125 "update: change "home" button filter text"
Screenshot:
![image](https://user-images.githubusercontent.com/4587451/52537611-4328be80-2d2e-11e9-91fd-3bb3d85483fe.png)

Change the text of "home" to be "all issues" - we don't want the user to think that this is a second navbar, but rather indicative of filter options.

[2019-02-11 15:07] MelSumner commented on #18
I'm going to close this issue because we've already publicized the app :+1: we'll continue to do so at EmberConf 2019 and beyond.

[2019-02-11 15:07] #18 closed

[2019-02-11 15:10] MelSumner commented on #14
I believe that adding the "Help Wanted" link to the navbar also satisfies this feature request. :+1:

[2019-02-11 15:10] #14 closed

[2019-02-11 15:10] MelSumner commented on #2
Since we've added filtering to the help-wanted app, I'm closing this issue. :+1:

[2019-02-11 15:10] #2 closed

[2019-02-11 15:11] MelSumner commented on #3
Can you clarify what you mean by this one?

[2019-02-11 18:05] MelSumner opened #126 "landing page inaccurately pulls in repos"
![image](https://user-images.githubusercontent.com/4587451/52583376-0e336f00-2df5-11e9-9dcb-efc4d215c538.png)

The query that is pulling in repos on the landing page is not pulling them in appropriately. As we can see in the screenshot, the first repo on the top left is "agendas" (https://github.com/ember-learn/agendas) and this repo does not have any issues labeled "help wanted" - or even any iss

[2019-02-11 18:39] optikalefx commented on #124
@MelSumner Where does `es-button` and `es-navbar` come from? Some addon I presume.

[2019-02-11 18:45] MelSumner commented on #124
@optikalefx yes, the ember-learn/ember-styleguide addon. :+1:

[2019-02-11 18:48] optikalefx commented on #124
I don't know if I can test a fix for this - it works locally. So I'll see if there is anything that might indicate that when this is live it would cause this.

![image](https://user-images.githubusercontent.com/926885/52585781-be0fd900-2e03-11e9-9536-751db8d6e031.png)

[2019-02-11 18:49] optikalefx commented on #124
![image](https://user-images.githubusercontent.com/926885/52585811-cf58e580-2e03-11e9-8309-f9d29168b213.png)

[2019-02-11 19:42] #125 closed

[2019-02-11 20:28] jaredgalanis commented on #126
@MelSumner I'll help with this one

[2019-02-18 19:44] MelSumner opened #129 "add ability to filter by Octane/help-wanted labels"
add ability to filter issues that have both the `Octane` label AND the `help wanted` label from the following orgs (specifically, issues that are tagged "Octane Meta" should not show up):

- emberjs (any repo)
- ember-learn (any repo)
- ember-cli (any repo)

Once that is complete, add an Octane filter button to the filter button group.

[2019-02-19 14:10] jaredgalanis commented on #129
@MelSumner I can help with this one as well, but need a little clarification.

When you say `following orgs`, does this mean you want buttons added for the orgs? Meaning these things:
![help_wanted_-_ember](https://user-images.githubusercontent.com/6305935/53020526-0ee78900-3425-11e9-9594-3194576acaae.png)

We have ember-learn already there, but does this involve adding pills for emberjs and ember

[2019-02-19 21:27] ppcano commented on #129
@jaredgalanis Thanks for helping out.

I talked with Melanie about this one.

We wanted to have an "Octane" button like the one you indicate on the picture (Core/RFCS/Learning...). If the user clicks the button, the site will show the issues with the specified filter:

It should be available under a specific URL, for example: `/octane` to be able to share it.

[2019-02-21 11:27] mansona opened #130 "Remove statusboard repo from help-wanted"
The [statusboard](https://github.com/ember-learn/statusboard) app has now been incorporated into the new [ember-website](https://github.com/ember-learn/ember-website) so we should no longer be showing issues in the help-wanted app

When we launch the ember-website we will do a process of porting issues and archiving the repo :+1: but for now we should stop showing them in help-wanted results

[2019-02-21 11:27] mansona opened #131 "Remove Builds repo from help-wanted"
The [builds](https://github.com/ember-learn/builds) app has now been incorporated into the new [ember-website](https://github.com/ember-learn/ember-website) so we should no longer be showing issues in the help-wanted app

When we launch the ember-website we will do a process of porting issues and archiving the repo :+1: but for now we should stop showing them in help-wanted results

[2019-02-21 13:03] jaredgalanis commented on #130
@mansona I'm game to help with this one

[2019-02-21 13:03] jaredgalanis commented on #131
@mansona I'm game to help with this one

[2019-02-21 14:15] jaredgalanis opened #133 "Move index route query to ember-help-wanted-server"
We may be better served having the query in the route `index.js`, which hits github's search api, residing on the ember-help-wanted-server where it can be cached and we don't risk running up against github's api rate limits as easily.

For more info see:
https://developer.github.com/v3/#rate-limiting
https://developer.github.com/v3/search/#rate-limit

This work would correspond with this issue on

[2019-02-21 16:19] #130 closed

[2019-02-21 16:19] #131 closed

[2019-02-28 14:48] MelSumner commented on #129
Thank you for resolving this issue! 👍

[2019-02-28 14:48] #129 closed

[2019-03-20 02:24] mschinis commented on #126
@MelSumner Looks like this one can now be closed.

[2019-03-20 06:23] #126 closed

[2019-03-20 06:23] acorncom commented on #126
Thanks @mschinis

[2019-03-22 00:13] MelSumner commented on #124
@mansona can you look at this please?

[2019-04-02 14:54] mansona commented on #124
Sure I'll take a look this week 👍

[2019-04-10 09:11] mansona commented on #124
8 days later I find and fix the issue 😂 does that still count as "this week"? 😂

[2019-04-10 09:43] #124 closed

[2019-04-18 07:48] mansona commented on #133
So your two PRs are merged so I guess it is ok to close this issue 🤔 the only thing I would say is that we should probably create an issue that covers your second point about the cards on the homepage.

I would also add that they are not all that useful right now 🤔 the cards show "forks" for each repo... but that's not really the intent of this app. I would much prefer to see the number of help-wa

[2019-05-29 14:57] jaredgalanis commented on #133
@mansona of course I'll create another issue now. sorry I didn't see this earlier.

[2019-05-29 14:57] #133 closed

[2019-05-29 14:59] jaredgalanis opened #138 "Clean up scope of queried repos on index route"
Links to additional points raised in issue #133.

From that issue:
[code]

[2019-11-16 19:38] jenweber opened #141 "Apply latest styleguide version"
Things that need fixing:
- [ ] buttons are too large and the styleguide size variations did not seem to work (note that we are using the link form of the button by applying classes to `<a>`

[2020-03-09 18:23] #22 closed

[2020-03-20 20:56] vinodhrajamuralidharan commented on #141
I am on it

[2020-03-20 21:09] jenweber commented on #141
Hi @vinodhrajamuralidharan Thanks so much for the help! You can start your work from the ` website-redesign-rfc` branch. The very first thing to do is to update the version of the styleguide to the latest release, in package.json. Then, see if things still look ok and what else needs fixing. The Styleguide has changed significantly since that branch was first created.

You can see the latest Style

[2020-03-27 16:47] MelSumner commented on #141
@vinodhrajamuralidharan please DM me on Discord if you need help with anything- thank you for taking it on! 👍

[2020-04-22 20:51] mehulkar opened #147 ""Take me there" should lead to filtered Issues by label"
The list on https://help-wanted.emberjs.com is great, but it would be nice to go to append `/issues?q=is%3Aissue+is%3Aopen+label%3A%22Help+Wanted%22` to the URL so it goes right to the issue list.

E.g. https://github.com/ember-learn/ember-help-wanted/issues?q=is%3Aissue+is%3Aopen+label%3A%22Help+Wanted%22

Looks like the important line is here: https://github.com/ember-learn/ember-help-wanted/blo

[2020-04-25 17:15] jayjayjpg opened #148 "Upgrade to Ember Source 3.16"
Part of https://github.com/ember-learn/ember-styleguide/issues/313

[2020-04-25 17:15] jayjayjpg opened #149 "Create Staging App Demo for Testing the Website Redesign"
Part of https://github.com/ember-learn/ember-styleguide/issues/313

[2020-04-25 17:15] jayjayjpg opened #150 "Apply Website Redesign"
Part of https://github.com/ember-learn/ember-styleguide/issues/313

[2020-04-26 13:08] #148 closed

[2020-04-30 08:31] mansona commented on #149
This is already done 🎉 as we're hosting on netlify, we get this automatically! you can see the preview link at the bottom of the redesign PR https://github.com/ember-learn/ember-help-wanted/pull/142

[2020-04-30 08:31] #149 closed

[2020-06-16 14:59] #150 closed

[2020-07-23 09:20] locks opened #156 ""All issues" filter takes you to the homepage"
If you go to one of the projects (e.g. [https://help-wanted.emberjs.com/community](https://help-wanted.emberjs.com/community)), and you click "All Issues" you will be taken to the homepage of Help Wanted, which does not contain issues.

The behaviour should be fixed to list issues for all of the projects instead.

[2020-10-08 23:52] jenweber commented on #17
This app is now shiny & rebranded! Closed.

[2020-10-08 23:52] #17 closed

[2020-10-09 00:00] jenweber opened #162 "Update ember-styleguide dependency to version 5.x"
Right now, this app is on version 4. Version 5 has some breaking changes that need to be addressed. You can read about them [here](https://github.com/ember-learn/ember-styleguide/releases/tag/v5.0.0).

To do:
- update package.json to use version 5
- `yarn install` to update the package lock file
- Fix anything from the list of [breaking changes](https://github.com/ember-learn/ember-styleguide/rele

[2020-10-09 00:02] jenweber opened #163 "Remove "Octane" button"
Since Octane shipped a long time ago, this category has naturally dropped down to very few issues.

To-do:
- Remove the "Octane" button
- Search this codebase for the word "octane" and see if there is any code to remove
- See if any code needs to be removed in the help-wanted server https://github.com/ember-learn/ember-help-wanted-server and if there is, open a PR for that repository as well.

[2020-10-09 00:04] Kennie-create commented on #162
I'd like to help with this

[2020-10-09 01:59] #162 closed

[2020-10-09 16:55] #147 closed

[2020-10-10 14:17] ijlee2 commented on #163
We can go ahead with removing the Octane button in the client app. Note, in the [server app](https://github.com/ember-learn/ember-help-wanted-server/pull/28), I'd like to add categories in a more flexible way, which may affect this issue.

[2020-10-12 11:28] neojp commented on #163
I removed the button, and the references in the services/store with #168. Hopefully this should help closing this issue.

[2020-10-12 11:29] neojp commented on #156
I don't see an "All issues" filter in the site. Should we close this issue or add the button?

![image](https://user-images.githubusercontent.com/127994/95739801-64efec80-0c59-11eb-8f77-aaf5b83d619e.png)

[2020-10-12 12:57] ijlee2 commented on #156
@neojp Let's close the issue for now. I'm working on updating the backend (https://github.com/ember-learn/ember-help-wanted-server) and want to coordinate the changes that will happen on the front.

I want to create 2 issues to update the list of filters in front and backend apps. Would you like to help with me with these?

[2020-10-12 12:59] ijlee2 commented on #163
Yep, thank you for working on this issue!

[2020-10-12 12:59] #163 closed

[2020-10-12 13:10] ijlee2 commented on #156
Discussed a possible plan with @neojp on [Discord](https://discordapp.com/channels/480462759797063690/480523441082990612/765199025976508426). Let's close this issue for now.

[2020-10-12 13:10] #156 closed

[2020-10-12 13:27] neojp opened #169 "Nested buttons inside navigation links"
Looking through the site I realized the navigation wasn't triggering a `cursor: pointer` on hover. Looking a bit closer into it I realized the problem is there are `<button>` tags inside `<a>` tags in the navigation.

After a quick chat with @MelSumner we have agreed that this is malformed HTML and should be fixed.

## Expected Behavior
Links to the pages should be `<LinkTo>` helpers with class na

[2020-10-12 13:47] neojp opened #171 "Install the latest ember-template-lint and eslint"
## Expected Behavior
The app should use the latest versions of `ember-template-lint` of `eslint`.

## Actual Behavior
Currently the app relies on `ember-cli-template-lint`, which has been deprecated. This should be removed in favor of `ember-template-lint`.

https://github.com/ember-learn/ember-help-wanted/blob/5cd7ed6009a4ff355d237406c1ea5e929965623c/package.json#L41

The app also uses `eslint@v6

[2020-10-12 22:37] ijlee2 commented on #171
Let me assign this issue to myself. The packages and scripts need more care than I originally expected.

[2020-10-13 00:07] #171 closed

[2020-10-13 02:45] ijlee2 opened #174 "Componentize <FilterMenu>"
## Background

Through a series of refactoring, we'll Octanify this app and increase its maintainability.

## Problem

In the `index` and `issues` route templates, you will find duplicate code:

[code]

## TODOs

- [ ] Use Ember CLI to create `<FilterMenu>` component. Copy-paste the following into the template:

[code]

- [ ] In the backing class, define `filterNames`. It is an array of strings th

[2020-10-13 03:04] neojp commented on #171
I have fixed the linting in the templates, but still need to fix it in the js files. Do you have an issue for these yet?

[2020-10-13 03:19] ijlee2 commented on #171
No, I didn't create issues for fixing the linting yet. Can you go ahead and open a pull request for the template lint fixes? We can link this issue in the pull request description.

Thanks,

[2020-10-13 03:20] ijlee2 opened #175 "Glimmerize <GithubLabel>"
## Background

Through a series of refactoring, we'll Octanify this app and increase its maintainability.

## Problem

The `<GithubLabel>` currently extends the classic Ember component. Let's update the template and backing class so that the component extends Glimmer component instead.

## TODOs

- [ ] Move `github-label.js` from `app/templates/components` to `app/components`. Also, update the `hb

[2020-10-13 03:22] ijlee2 commented on #174
We'll want to merge this PR _after_ https://github.com/ember-learn/ember-help-wanted-server/issues/32 has been merged.

[2020-10-13 03:42] ijlee2 commented on #1
I don't think adding support for rating issues will be in my immediate plans for the client and server apps. Let's open a new issue if, at a later point, rating issues can be a feasible problem.

[2020-10-13 03:42] #1 closed

[2020-10-13 03:42] ijlee2 commented on #3
I don't think adding support for rating issues will be in my immediate plans for the client and server apps. Let's open a new issue if, at a later point, rating issues can be a feasible problem. (related issue: #1)

[2020-10-13 03:42] #3 closed

[2020-10-13 03:53] ijlee2 opened #176 "Fix lint errors"
## Background

After installing the latest `ember-template-lint` and `eslint` in #173, I suppressed new lint errors by adding exceptions to rules:

- [.eslintrc.js](https://github.com/ember-learn/ember-help-wanted/blob/747d54e1431cfb58fd85cff4fef62035d96686b3/.eslintrc.js#L23-L27)
- [.template-lintrc.js](https://github.com/ember-learn/ember-help-wanted/blob/919ee6af2d79ca55b76c9ef065b97c43493c6612

[2020-10-13 03:53] ijlee2 commented on #176
Assigned to @neojp .

[2020-10-13 07:14] daretobedifferent18 commented on #175
I would like to work on this.

[2020-10-13 09:05] neojp commented on #176
`ember-template-lint` isn't throwing any errors now.

![image](https://user-images.githubusercontent.com/127994/95839925-8e6c4f00-0d11-11eb-85d9-23478b9e48e3.png)

[2020-10-13 09:30] neojp opened #177 "Keyword search is persistent when switching between pages"
Using the **keyword search** updates the `query` queryParam in the current controller filtering the results data. This works well the first time it's used. Once the user clicks in one of the buttons at the top, the query params get resetted, but the form is unchanged, and the results aren't filtered by the keyword in the form.

This might have been the reason the original code used plain `<a>` tag

[2020-10-13 09:32] neojp commented on #176
`eslint` isn't throwing any errors now.

![image](https://user-images.githubusercontent.com/127994/95843221-739bd980-0d15-11eb-8cce-e63645b2dd18.png)

I will go ahead and submit a PR.

[2020-10-13 10:05] neojp commented on #175
@ijlee2 I have a commit ready for this, but I need #178 to land first.

[2020-10-13 10:39] neojp commented on #174
I have some code working for this, but it looks like data isn't working coming through even when using the constants from ember-learn/ember-help-wanted-server#32 (see the `issues` route screenshot).

My guess is we need to change the way the API is queried in `controllers/issues.js`, and refactor/remove `services/github-issues.js`.

## Screenshots

### `index` route

![image](https://user-images.g

[2020-10-13 13:19] ijlee2 commented on #177
Thanks for reporting this issue. The filter (Keyword) is currently broken because the client app doesn't have the most up-to-date list of repos and issues that the server app supports.

Let's comment out the form so that the user sees all issues for now. Does this sound okay with you?

[2020-10-13 13:21] #176 closed

[2020-10-13 13:24] ijlee2 commented on #175
#178 has been merged!

[2020-10-13 14:03] ijlee2 commented on #174
Please see https://github.com/ember-learn/ember-help-wanted-server/issues/34 for what to do next on the server side.

[2020-10-13 16:54] ijlee2 commented on #177
@neojp I think I found what caused the bug that you described. The bug that I saw won't be fixed by the solution. I can create an issue for that later.

[2020-10-13 17:03] #177 closed

[2020-10-13 17:05] ijlee2 commented on #174
I merged https://github.com/ember-learn/ember-help-wanted/pull/179, which affect this issue. Can you rebase your branch so that `@query` will appear in the route templates?

I updated what the component template should look like in the issue description.

[2020-10-14 04:33] neojp commented on #175
This should be completed with commit 3f701d8. I will go ahead and submit a PR.

## Screenshots
### `issues` route
![image](https://user-images.githubusercontent.com/127994/95943463-e8255580-0db3-11eb-8728-50da11c59f23.png)

### Tests
![image](https://user-images.githubusercontent.com/127994/95943404-b7452080-0db3-11eb-8f1c-6e319532774d.png)

[2020-10-14 07:32] neojp commented on #174
Code has been committed to 43cfb28.

## Screenshot

![image](https://user-images.githubusercontent.com/127994/95957461-bf11be80-0dcd-11eb-8df7-5c1246a39d84.png)

[2020-10-14 13:19] #175 closed

[2020-10-14 13:39] #174 closed

[2020-10-16 03:27] ijlee2 opened #183 "<FilterMenu> overflows on mobile"
## Problem

In #174, we increased the number of filters displayed from 5 to 11. This change allowed us to discover an overflow issue on mobile:

<img alt="The filters overflow on mobile" src="https://user-images.githubusercontent.com/16869656/96209337-f3ec5580-0f34-11eb-9778-d6a7a1c100bd.jpg" width="360" />

## TODOs

The app uses `ember-styleguide` for some of the styling (e.g. `.herounit` class

[2020-10-16 03:27] ijlee2 commented on #183
Hi, everyone. I created this issue for [EmberFest Contributors Workshop](http://emberfest.eu/), to be held on October 16. Please allow a workshop participant the chance to claim and work on this issue first.

If the issue is still open after October 16, anyone is welcome to sign up for the issue. Thanks, and happy Hacktoberfest! 🎃

[2020-10-16 17:55] fletcherrippon commented on #183
Hi can I be assigned this issue?

[2020-10-16 19:01] ijlee2 commented on #183
Hi, @fletcherrippon. Thank you for your interest in helping out with the Help Wanted app! If you have questions, feel free to let us know in this issue or over Ember Discord.

[2020-10-18 14:08] fletcherrippon commented on #183
@ijlee2 Sorry I took so long was busy with some other stuff hope its what you wanted. 😁

[2020-10-19 16:22] #183 closed

[2020-11-05 15:35] jenweber opened #187 "Add Percy to GitHub Actions"
This repository would benefit from having some Percy screenshots!

For an example of the work that should be done, see https://github.com/ember-learn/guides-source/blob/master/.github/workflows/ci.yml and search for "percy"

To do:
- install the percy addon
- Edit the GitHub Action to have the key and run the test
- Add percy snapshots to the tests for the index page and one of the subpages such a

[2020-11-06 14:02] #187 closed

[2021-03-28 16:43] acorncom commented on #7
This tool is past MVP at this point, closing

[2021-03-28 16:43] #7 closed

[2021-03-29 07:23] ijlee2 opened #196 "2021 Contributors' Workshop: Allow filtering issues by query"
## Background

Currently, the user will encounter a runtime error when they try to filter issues by a **query** (a query is a string that we match against the issue title). To see an example, you can visit the following URL: https://help-wanted.emberjs.com/ember-learn?query=workshop

<img width="480" alt="runtime error message" src="https://user-images.githubusercontent.com/16869656/112800923-9676

[2021-03-29 07:46] ijlee2 opened #197 "2021 Contributors' Workshop: Convert 3 items to native class"
## Description

The following files show the classic Ember syntax:

- `app/adapters/application.js`
- `app/controllers/issues.js`
- `app/services/github-issues.js`

Since these files are relatively simple and have default unit tests, we can convert their syntax to native class with some confidence.

I encourage you to make 1 commit for each file, for a total of 3 commits.

## References

- https:/

[2021-03-29 07:52] ijlee2 commented on #196
Note, this issue is reserved for EmberConf contributors workshop. Please volunteer for the issue if you are participating in the workshop.

[2021-03-29 07:52] ijlee2 commented on #197
Note, this issue is reserved for EmberConf contributors workshop. Please volunteer for the issue if you are participating in the workshop.

[2021-03-29 16:06] pernambucano commented on #197
Hi, workshop participant here. I'd love to take a look at this!

[2021-03-29 16:11] ijlee2 commented on #197
@pernambucano Great, thank you for your help! Please let me know if you have any questions. You can reach me on Discord by chat at `@ijlee2`.

[2021-03-29 16:12] pernambucano commented on #197
thanks a lot!

[2021-03-29 17:47] ejfian-2020 commented on #196
@ijlee2 I would like to take a stab at this issue.

[2021-03-29 17:55] ijlee2 commented on #196
@ejfian-2020 Thanks!

[2021-03-29 18:39] acorncom commented on #197
Fixed by #198

[2021-03-29 18:39] #197 closed

[2021-03-29 19:09] ejfian-2020 commented on #196
if query is falsey meaning if the user doesnot enter a text and just presses "Search" button , it should return the list of all issues correct ?
`if(!query) return true;`

[2021-03-29 19:12] ijlee2 commented on #196
Yep, that's correct. You can also imagine a case, where the user hits the Backspace key to delete their current query.

So, the pseudocode would look like,

[code]

[2021-03-29 19:14] ejfian-2020 commented on #196
heres the code so far
`byTitle(query) {
    if(!query) return true;
    return (issue) => {
      return issue.title.toLowerCase().includes(query.toLowerCase())
    };
  },`

[2021-03-29 19:28] ijlee2 commented on #196
Ah, almost. I think it'd be,

[code]

The last return statement may be difficult to read so we can also consider creating temporary variables for `issue.title.toLowerCase()` and `query.toLowerCase()` if you'd like.

[2021-03-29 19:59] #196 closed

[2021-03-29 20:42] amyrlam opened #201 "Consider changing page to only show open "Help Wanted" issues"
On this page https://help-wanted.emberjs.com/, we show repos with all closed "Help Wanted" issues.

![image](https://user-images.githubusercontent.com/1372946/112897381-66409480-9094-11eb-87ff-f064b17d10ba.png)

![help-wanted](https://user-images.githubusercontent.com/1372946/112897408-6b054880-9094-11eb-8110-d7df50ac7835.gif)

Consider having the page only show open issues that a contributor coul

[2021-05-10 04:47] ijlee2 commented on #201
@amyrlam I'll move this issue to `ember-help-wanted-server`. The server code can be responsible for deciding which issues to count.

[2022-04-01 13:01] jenweber opened #222 "Click to sort the pull requests table"
It would be nice to have the ability to click the table headers and the data sorts, for the pull-requests route.

Blocked by #213

[2022-04-01 13:01] jenweber opened #223 "Show total stale pull requests number"
It would be nice to see a total number of stale pull requests at the top of the pull-requests page.

Blocked by #213

[2022-04-20 03:37] jenweber opened #224 "Help update this app to v4 of Ember"
Upgrade instructions are in https://blog.emberjs.com/ember-4-0-released

This PR does not need to use Octane syntax in order to be merged. That can come later!

One incremental PR could be to update the app to v3.28 first, then address any breaking changes (if there are any) in followup PRs.

[2022-04-20 06:02] ijlee2 commented on #224
Hello. To provide additional background for new contributors, `ember-help-wanted` is fully Octane and has some tests to catch regressions.

I think you'll be able to safely upgrade the app from `3.27` to the latest `4.x` by running `ember-cli-update`, fixing potential merge conflicts, then running `yarn install` to update dependencies. (I do like the idea of updating the app to `3.28` first.)

[2022-04-20 18:13] MehulKChaudhari commented on #224
Hey @jenweber I would like to work on this issue.

[2022-04-20 22:25] jenweber commented on #224
Great, thank you! When you open a PR, please include a link to this issue in the PR description.

[2022-04-27 12:44] #224 closed

[2022-04-29 12:41] jenweber opened #227 "Highlight PRs with "last updated" more than 2 weeks ago"
After https://github.com/ember-learn/ember-help-wanted/pull/213 is merged, we want to indicate which PRs most need attention.

Have two groups of PRs, one for older PRs, and one for the fresher PRs. Older PRs should be above the fresher PRs.

See also #107 for adding the count.

[2022-06-13 15:44] jaredgalanis opened #228 "Remove ember-cli-addon-docs from the list of pull requests"

[2022-10-12 15:42] #223 closed